@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center; /* alinha no eixo X */
    align-items: center; /* alinha no eixo Y */
}

.esquerda-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* para alinhar uma embaixo da outra mesmo com o display: flex; */
}

.esquerda-login > h1 {
    color: #27ffc0;
    font-size: 3vw;
}

img {
    width: 35vw;
    
}

.direita-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 30px 35px;
    background: #2f2645;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800; /* largura da fonte */
    margin: 0;
}

.textfied {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfied > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514b69;
    color: #feffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfied > label {
    color: #feffffde;
    margin-bottom: 10px;
}

.textfied > input::placeholder{
    color: #f0ffff94;   
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase; /* formatou para letra maiuscula */
    font-weight: 800;
    letter-spacing: 3px; /* espaço entre as letras */
    color: #2b134b;
    background: #00ff88;
    cursor: pointer; /* para pro a mãzinha no mouse quando for ao botão */
    box-shadow: 0px 10px 40px -12px #00ff8052;
} 

@media only screen and (max-width: 950px){ /* responsividade desktop */
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){ /* responsividade para mobile */
    .main-login{
        flex-direction: column;
    }
    .esquerda-login > h1{
        display: none;
    }
    .esquerda-login{
        width: 100%;
        height: auto;
    }
    .direita-login{
        width: 100%;
        height: auto;
    }
    img{
        width: 50vw;
    }
    .card-logi{
        width: 90%;
    }

}
